
    /* background: url(image/aesthetic\ wallpaper.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */

.d1{
    background-color: #632303;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    margin-top: -8px;
    font-family: 'Bungee', cursive;
}
/* #I5{
    width: 50px;

} */
/* .d1 img{ */
    /* width: 100p; */
/* } */
.d1 h5{
    color: #632303;
    margin-top: -11px;
}
.d1 a{
    margin-top: -15px;
}
/* #m1{ */
    /* margin-left: 865px; */
    /* margin-top: 5p; */
    /* float: left; */
#P1{
    width: 319px;
    height: 398px;
    background-color: #632303;
    color: white;
    border: solid white;
    margin-left: 358px;
    margin-top: 77px;
    text-align: center;
    font-family: 'Benne', serif;
}
#H1{
    color:#632303;
    font-weight: 900;
    margin-left: 414PX;
    margin-top: 58px;
}
#H3{
    color: #632303;
    font-weight: 800;
    margin-left: 611PX;
    margin-top: -11px;

}
#I1{
    width: 300px;
    height: 400px;

    margin-left: 725px;
    margin-top: -430px;
    border-radius: 15%;
}
#I2{
    width: 300px;
    height: 400px;

    margin-left: 359px;
    margin-top: 72px;
    border-radius: 15%;
}
#P2{
    width: 351px;
    height: 397px;
    background-color: #632303;
    color: white;
    border: solid white;
    margin-left: 679px;
    margin-top: -404px;
    text-align: center;
    font-family: 'Benne', serif;
}
#F1{
    height: 860px;
    margin-top: 71px;
    width: 49%;
}
#H2{
    color: #632303;
    font-weight: 900;
    margin-left: 446PX;
    margin-top: 49px;
}
#D5 p{
    width: 1001px;
    height: 303px;
    background-color: #632303;
    color: white;
    border: solid white;
    margin-left: 173px;
    /* margin-top: 77px; */
    text-align: center;
    padding-top: 78px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Benne', serif;
}
#D5 iframe{
    margin-top: 38px;
    height: 491px;
    width: 500px;
}

#filter iframe{
    height: 800px;
    margin-left: 475px;
    border-radius: 15%;
}
#filter h1{
    color:#632303;
    font-weight: 900;
    margin-left: 414PX;
    margin-top: 58px;
}
#filter p{
    width: 1001px;
    height: 350px;
    background-color: #632303;
    color: white;
    text-align: center;
    padding-top: 78px;
    margin-left: 198px;
    font-family: 'Benne', serif;
}
/* #t1{ */
    /* background-color: black; */
/* } */
#P3 form{
    background-color: #632303;
    width: 450px;
    text-align: center;
    color: white;
    padding-top: 49px;
    margin-left: 474px;
    margin-top: 69px;
    border-radius: 13%;
    margin-top: 20px;
}
#P3 h1{
    color: #632303;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#P3 span{
    color: black;
    text-decoration: underline;
}
#P3 h2{
    color: #632303;
    text-decoration: solid;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 61px;
}
.d2{
    background-color: #632303;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    margin-top: 25px;
}
.d2 img{
    width: 30px;
    height: 35px;
    margin-left: 14px;
}